* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #111;
    
}

.title{
    font-size: 4em;
    color: honeydew;
    font-weight: bold;
    text-align: center;
}

.second-title{
    font-size: 2em;
    color: honeydew;
    text-align: center;
}

.recipe-card{
    width: 400px;
    border-radius: 10px;
    border: solid orange;
    color: honeydew;
    padding: 10px 20px 10px 40px;
}

.recipe-card-title{
    color: honeydew;
    font-size: 1.35em;
    font-weight: bold;
}